[submodule "gambatte-libretro-tiicu"]
	path = cores/gambatte-libretro-tiicu
	url = https://github.com/tiicu/gambatte-libretro-tiicu.git
[submodule "ppsspp-tiicu"]
	path = cores/ppsspp-tiicu
	url = https://github.com/tiicu/ppsspp-tiicu.git
[submodule "mgba-tiicu"]
	path = cores/mgba-tiicu
	url = https://github.com/tiicu/mgba-tiicu.git
[submodule "fceumm-libretro-tiicu"]
	path = cores/fceumm-libretro-tiicu
	url = https://github.com/tiicu/fceumm-libretro-tiicu.git
[submodule "swanstation-tiicu"]
	path = swanstation-tiicu
	url = https://github.com/tiicu/swanstation-tiicu.git
[submodule "cores/swanstation-tiicu"]
	path = cores/swanstation-tiicu
	url = https://github.com/tiicu/swanstation-tiicu.git
[submodule "cores/gambatte-libretro-tiicu"]
	path = cores/gambatte-libretro-tiicu
	url = https://github.com/tiicu/gambatte-libretro-tiicu.git
[submodule "cores/ppsspp-tiicu"]
	path = cores/ppsspp-tiicu
	url = https://github.com/tiicu/ppsspp-tiicu.git
[submodule "cores/mgba-tiicu"]
	path = cores/mgba-tiicu
	url = https://github.com/tiicu/mgba-tiicu.git
